<div id="header" class="group">
  <div class="welcome">
  <a href="#">Deckbuilder</a>
    Welcome
    <a href="#"><%= currentUser.escape("username") %></a>
  </div>
  <nav>
    <ul>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Search Decks</a></li>
      <li><a href="#">Card Search</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Sign Out</a></li>
    </ul>
  </nav>
</div>
